.home-sidemenu{
    display: grid;
    padding: 0 0% 0 0%;
    button{
    text-align: start;
    margin: 0px 0px 6px 0px;
    padding: 12px 20px !important;
    }
}
.browse-btn{
    background-color: #243A5E !important;
    color: #ffffff !important;
}
.tech-btn{
    background-color: #ffebeb !important;
}
.ind-btn{
    background-color: #b1c4e3;
}
.dropbtn{
    background-color: #F2F2F2;
}
.home-image{
    padding: 0 0px 0 0;
}